#registration {
    width:200px;
    text-align:center;
    margin-left:40%;
    margin-top:2%;
}

#login {
    width:200px;
    text-align:center;
    margin-left:40%;
    margin-top:40px;
}

label{
    float: left;
    font-size:14px;
}

input {
    margin: 1px;
    height: 35px;
    border-radius: 10px 10px 10px 10px;
}

.button {
    margin: 5px;
}

.hidden {
    display:none;
}

.success {
    color:green;
}

.error {
    color:red;
}